//= require twitter/bootstrap/2.0.2
//= require twitter/bootstrap/2.0.2-responsive

body {
  padding-top: 60px;
}

pre {
  margin-bottom: 30px;
  margin-top: 9px;
  max-height: 100px;
  overflow-y: scroll;
}

div.btn-row {
  margin-bottom: 15px;
}

div.form-row {
  margin-top: 15px;
}

div.input-append .btn {
  margin-left: -5px;
}
